
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

*{
    padding:0%;
    margin:0%;
}
body{ 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1330px;
    height: 600px;
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
}
.inicio{  

    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between; 
    
}
nav ul{
    list-style: none;
    display:flex;
    flex-direction: row;
}
nav ul li {
    margin: 10px;
    /*background-color: #faae2b;*/
}
article{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    /*border: solid 2px;*/
    
}
header{
    font-family: 'Syncopate', sans-serif;
    margin: 10px;
    color:#FAF8FF;   
}
.stage{
    padding-top: 4%;
    background-repeat: no-repeat;
    box-shadow: 10px 5px 5px black;
    background-image: url("../img/imgFun02.jpg");
    opacity: 0.5;
    width: 620px;
    height: 360px;
    font-size: 18px;
    color:#480345;
    text-align: center;
    border-radius: 10px;
}
.lista{

    display:flex;
    flex-direction: row;
    padding-left: 5%;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}
.lista a{
    text-decoration: none;
    color: #004d7a;
    font-size: 22px;
}
.texto{
    font-size: 16px;
    color:#FAF8FF;
    text-align: center;
}
.conteiner_img{
    margin: 20px;
    width: 1330px;
    /*border: solid 2px #FAF8FF;*/
    display: flex; 
    align-items:center;
    justify-content: space-around;
}

.personagem{
    background-color: #333;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px ;
    box-shadow: 3px 3px 10px rgba(0,0,0, .1);
    position: relative;
    overflow: hidden;
}
.escolhe_personagem{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75s;    
}
.personagem:hover .escolhe_personagem{
    transform: scale(1.15);
}
.titulo{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: 'Syncopate', sans-serif;
    font-size: 20px;
    text-shadow: 0 0 1px rgba(0,0,0, .5);
    color:#FAF8FF;
}

footer{
    display: flex;
    font-family: 'Syncopate', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    /*background-color: #fa5246;*/
    color: linear-gradient(to top, #333333, #5f5f61, #908f92, #c3c2c7, #faf8ff);
   /* border:2px solid;*/
}
a{
    text-decoration: none;
    color:#FAF8FF;
}