
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
/*@media only screen and (max-device-width: 700px) {
   
    .conteiner_img{ display: flex;
                    align-items:center;
                    justify-content: start;
                    flex-direction: column;}
    
    }*/
*{
    padding:0%;
    margin:0%;
}
::-webkit-scrollbar{
    display: none;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
}

.inicio{  
    display:flex;
    align-items:center;
    justify-content:space-between; 
    
}
nav ul{
    list-style: none;
    display:flex;
    flex-direction: row;
}
nav ul li {
    margin: 10px;
    /*background-color: #faae2b;*/
}
article{
    display:flex;
    flex-direction: column;
    align-items: center;
}
header{
    font-family: 'Syncopate', sans-serif;
    margin: 10px;
    color:#FAF8FF;   
}

.lista{
    display:flex;
    flex-direction: row;
    padding-left: 5%;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}
.lista a{
    text-decoration: none;
    color: #004d7a;
    font-size: 22px;
}
.texto{
    color:#FAF8FF;
    text-align: center;
    margin-right: 30px;
}
.conteiner_img{
    margin: 10px;
    width: 100%;
    display: flex; 
    justify-content: space-around;
}
.personagem{
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    color: #333;
    /*border: solid 2px #FAF8FF;
    background-size: contain;*/
}
.personagem_img{
    box-shadow: 10px 5px 5px black;
    margin: 5px;
    width: 200px;
    border-radius: 8px;   
}
footer{
    margin-bottom: 0.5em;
    display: flex;
    font-family: 'Syncopate', sans-serif;
    justify-content: center;  
}
a{
    text-decoration: none;
    color:#FAF8FF;
}